#uh-alerts { display: none; background-color: #ffc; color: #000; padding: 1em; zoom: 1; font-family: Arial, Helvetica, sans-serif; font-size: 1rem; }
#uh-alerts:before, #uh-alerts:after { content: ""; display: table; }
#uh-alerts:after { clear: both; }
#uh-alerts a { font-weight: bold; color: #900; text-decoration: underline; }
#uh-alerts a:focus, #uh-alerts a:hover { background-color: #ff3; }
#uh-alerts.uh-alerts-active { display: block; }
#uh-alerts .uh-alerts-close { float: right; color: #ffc; background-color: #900; border: none; font-weight: bold; text-decoration: none; padding: 0.2em 1em; font-family: Arial, Helvetica, sans-serif; font-size: inherit; }
#uh-alerts .uh-alerts-close:focus, #uh-alerts .uh-alerts-close:hover { color: #ff3; }
#uh-alerts .uh-alerts-updated { font-size: 0.9em; font-style: italic; }
